<h1>Add a recipe!</h1>
<form action="recipes" method="post">
  <label for="name">name: </label>
  <input type="text" name="name" id="name">
  <label for="description">description: </label>
  <input type="text" name="description" id="description">
  <label for="rating">rating: </label>
  <input type="number" name="rating" id="rating">
  <input type="submit">
</form>
